$border-color = whitesmoke

.app
	display flex
	justify-content center
	align-items center
	flex-direction column
	width 100vw
	height 100vh
	margin 0
	color #000
	font-size 40px
	font-family sans-serif, serif

.calculator
	min-width 200px
	// height 100vh

	&__histories
		max-height 200px
		overflow-y auto
		border 1px solid $border-color
		border-bottom 0
		padding 0 15px
		text-align right

		.history
			padding 10px 0
			div
				max-width 321px
				display flex
				justify-content flex-end
				span
					max-width 250px
					word-wrap anywhere
					&+ span
						margin-left 10px
				&:last-child
					font-weight bold

			&+.history
				border-top 1px dotted #000

	&__display
		position relative
		border 1px solid $border-color

	&__keys
		max-width 320px
		display flex
		flex-wrap wrap
		border-top 1px solid $border-color
		border-left 1px solid $border-color


.operands
	text-align right
	padding-top 10px
	padding-right 15px
	div
		max-width 321px
		display flex
		justify-content flex-end
		span
			max-width 250px
			word-wrap anywhere
			&+ span
				margin-left 10px
		&:last-child
			span:last-child
				font-weight bold

.input
	max-width 321px
	min-height 46px
	padding 0 15px
	// font-size 22px
	font-weight bold
	text-align right
	display flex
	justify-content flex-end
	span
		max-width 250px
		word-wrap anywhere
		& + span
			margin-left 10px

.result
	text-align right
	padding-bottom 10px
	padding-right 15px
	// font-size 22px
	font-weight bold
	// color grey

.row
	display flex

.key
	cursor pointer
	flex 1 1 auto
	width 79px
	height 79px
	margin 0
	border 0
	border-bottom 1px solid $border-color
	border-right 1px solid $border-color
	color grey
	background-color white
	font-size 35px

	&:hover
		background-color darken(white, 10%)

	&[value="all-clear"]
		color #f58839

	&[value="="]
		color white
		background-color #f58839

		&:hover
			color white
			background-color darken(#f58839, 10%)
